html {
}

#main {
  background-color: hsl(253, 60%, 29%);
  padding: 1%;
}
#title{
  display: relative;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  max-width: 1200px;
  border: 0.2vw solid hsl(253, 60%, 9%);
  box-shadow: .4vw .4vw 2px hsl(253, 60%, 9%);
}

#title h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 4vw;
  padding-top: 2%;
  padding-bottom: .5%;
  margin: 0;
  line-height: 120%;
}

#title h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5vw;
  padding-bottom: 2%;
  margin: 0;
  line-height: 100%;
}

div #img-div {
  text-align: center;
  margin: 0px;
  padding: 10px;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto; 
  padding: 0px;
  border: 0.2vw solid black;
}

#img-caption {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2vw;
  margin: 0px auto;
  padding: 3px ;
  background-color: white;
  max-width: 1000px;
  border: 0.2vw solid hsl(253, 60%, 9%);
  box-shadow: 0.4vw 0.4vw 2px hsl(253, 60%, 9%);
}

#tribute-info {
  max-width: ;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  max-width: 950px;
  border: 2px solid hsl(253, 60%, 9%);
  box-shadow: 0.4vw 0.4vw 2px hsl(253, 60%, 9%);
} 

#tribute-info ul {
  font-size: 1.3vw;
}
#tribute-info li strong {
  color: hsl(253, 60%, 19%);
}

#more-info p {
  background: white;
  font-family: 'Noto Sans', sans serif;
  font-size: 1vw;
  text-align: center;
  line-height: 250%;
  max-width: 900px;
  margin: 1% auto;
  border: 2px solid hsl(253, 60%, 9%);
  box-shadow: 0.4vw 0.4vw 2px hsl(253, 60%, 9%);
}

#tribute-link a {
  font-family: 'Noto Sans', sans serif;
  color: hsl(253, 60%, 19%);
}